.lifestyle_box{
    border:1px solid #E9E9E9;
    padding:20px;
}

.grey_background{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 100%);
}

.btn_position{
    margin-top: 20%;
}
.btn_decoration{
    background: white;
    border:1px solid #E9E9E9;
    padding: 5px;
    width: 165px;
    text-align: left;
    font-size: 15px;
    padding: 5px;
}
