.ml10{
    margin-left: 10%;
}
.mr10{
    margin-right: 10%;
}

.width100{
width:100%;
}

.space_around{
    display: flex;
    justify-content: space-around;
}
.navbar{
    background-image: url('../asset/header_bg01.png');
    background-repeat: no-repeat; 
    background-size: cover;
}