.bg{
    background-image: url('./asset/main_bg.jpg');
}
.separate{
    margin-top: 25px;
}
.green_text{
    color:#3B853F;
}
.grey_text{
    color: #B4B4B4;
}
.border_right{
    border-right: 1px solid #E9E9E9;
}

.content_header{
    border-bottom: 1px solid #3B853F;
    font-size: 20px;
}

.content_font_size{
    font-size: 13px;
}
.margin_para{
    margin-top: 25px;
    }

.content_color{
    color: #848484
}