.carousal_item_right_content{
    position: absolute;
    top: 20%;
    right: 5%;
    width: 25%;
}
.circ_heading{
    font-size: 22px;
}
.circ_content{
    margin-top: 10px;
}

@media screen and (max-width: 600px){
    .circ_heading{
        font-size: 12px;
    }
    .circ_content{
        font-size: 10px;
    }
    .carousal_item_right_content{;
        top: 10%;
    }
}